work/*
!work/original/
work/original/*
!work/original/original-curtain-open-*.blend
!work/original/original-roller-open-*.blend
!work/original/original-laundry-rail.blend
!work/original/original-laundry-cabinet.blend

!work/original/original-kitchen-island.blend
!work/original/original-kitchen-cooking.blend
